[Unit]
Description=Street Parking App
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Environment="LANG=en_US.UTF-8"
Environment="LANGUAGE=en_US.UTF-8:"
WorkingDirectory=/home/ubuntu/Free_Parking_SF
ExecStart=/home/ubuntu/Free_Parking_SF "source env/bin/activate && python3 server.py &>> flask.log"
Restart=always

[Install]
WantedBy=multi-user.target