/* html {
	height: 100%;
	margin-top: 100%;
	padding: 100%;
	background-image: url("j.jpg");

} */
/* .header-container-fluid {
    height: 50px;
    max-width: 1010px;
    margin: 0 auto;
}
.navbar-static-top {
    margin: 0 auto;
    border: none; */
    /* width: 100%;
    background-image: url(../images/header_bg.jpg);
    background-repeat: repeat-x;
    background-position: left top;
    position: fixed;
    top: 0;
} */

/* #map {
	height: 100%;
	width: 100%;
	padding:100%;
}  */
/* body {
	background-image: url("j.jpg");
	 */
	


	
  /* } */
/* .bg-success {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}
label {
	padding: 0px 10px;
	display: inline-block;
	font-size: 1.5em;
}

input {
	font-size: 0.70em;
	font-family: sans-serif;
	padding: 9px;
} */ 

.container {
    height: 50px;
    max-width: 1010px;
    margin: 2% auto;
	background-color: rgb(21, 205, 237);

}
