body::before{
	display:  block;
	content: "";
	height: 60px;
}

.center{
	font-family: sans-serif;
    color: black;
	font-weight: bold; 
	/* width: 500px; */
	/* margin: 0 auto; */
}

/* .flashes {
	align-items: center;
} */