{% extends 'base.html' %}
{% block title %} Free Parking Search {% endblock %}

{% block body %}
<body>
    <div class="container">
        <h2>Add Parking Spot to Database</h2>
            <form class="container" id = "addparking" method="POST" action="/add-parking">
                <div class="form-group row">Street Name:                       
                    <input  name ="street" type="text"  id="info_street" placeholder="Click on map & marker" required>
                </div>
                <div class="form-group row">
                    <input class="col-sm-6" name="lat" type="text" id="info_lat"  placeholder="Lat: Click on map & marker"  required>
                    <input class="col-sm-6" name="lng" type="text" id="info_lng" placeholder="Lng: Click on map & marker"  required>
                 </div>
                <div class="form-group row">
                    <input class="col-sm-6" name ="cross-street1" type="text" placeholder="Type in cross_street A" required >
                    <input class="col-sm-6"  name ="cross-street2" type="text" placeholder="Type in cross_street B" required>
                </div>
                <div class="form-group row">Address:  
                    <input  name="address" type="text" id="info_address" placeholder="Address: Click on map & marker" required>
                </div>
            </form>
        <button form= "addparking" type="submit" >submit</button>  
        <div class="ratio ratio-16x9" id="map"></div>
    </div> 

</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?&key=AIzaSyDCLPu50m8qU4eQpqj7rm8U7i1gTa-s5TY"></script>
<script type="text/javascript">

 window.onload = function () {
    var mapOptions = {
        center: new google.maps.LatLng(37.77986, -122.42905),
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
 
    //Attach click event handler to the map.
    google.maps.event.addListener(map, 'click', function (e) {
 
        //Determine the location where the user has clicked.
        var location = e.latLng;
 
        //Create a marker and placed it on the map.
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

        let lat = marker.getPosition().lat()
        let lng = marker.getPosition().lng()
        let contentAddress = ""
        let street= ""

        $.ajax({
        method:'POST',
        url:`https://maps.googleapis.com/maps/api/geocode/json?latlng=${lat},${lng}&key=AIzaSyDCLPu50m8qU4eQpqj7rm8U7i1gTa-s5TY`,
        success:function(data){
          console.log(data)
          contentAddress = data.results[0].formatted_address
          street = data.results[0].address_components[1].long_name
          console.log(street)
       }
    }) 
        //Attach click event handler to the marker.
        google.maps.event.addListener(marker, "click", function (e) {
            var infoWindow = new google.maps.InfoWindow({
                content: contentAddress +//
                lat + " , "+ lng
            });

            infoWindow.open(map, marker);
            // it will populate the input values on the marker click (first click map to create marker then click marker)
            // this option is better because if another marker is clicked and click back it will repopulate with the marker clicked 
            // while other option it has to be clicked on the map and will not repopulate 
            document.getElementById('info_lat').value=lat;
            document.getElementById('info_lng').value=lng;
            document.getElementById('info_address').value=contentAddress;
            document.getElementById('info_street').value=street;


        });
        // it makes a difference: it will populate the input values with map click
        // document.getElementById('info_lat').value=lat; 
        // document.getElementById('info_lng').value=lng;
        // document.getElementById('info_address').value=contentAddress;
        // document.getElementById('info_street').value=street;
    });
};
</script>    

{% endblock %}