{% extends 'base.html' %}
{% block title %} Free Parking Search {% endblock %}

{% block body %}

<section class="p-3 gg-dark">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p5">
                <h2 class="center">Add Parking Spot</h2>
                <form class="form-control border border-dark" 
                    id = "addparking" 
                    method="POST" 
                    action="/add-parking">
                    <div class="center">*Street Name </div>
                        <input  class="form-control"
                            name ="street" 
                            type="text"  
                            id="info_street" 
                            placeholder="Street Name" required>
                    <div class="center">*Latitude and Longtitude</div>
                        <input  class="form-control"
                                name="lat" 
                                type="text" 
                                id="info_lat"  
                                placeholder="latitude"  required>
                        <input class="form-control"
                            name="lng" 
                            type="text" 
                            id="info_lng" 
                            placeholder="Longtitude"  required>
                    <div class="center">*Cross Streets</div>
                        <input class="form-control"
                            name ="cross-street1" 
                            type="text" 
                            placeholder="cross street A" required >
                        <input class="form-control"
                            name ="cross-street2" 
                            type="text" 
                            placeholder="cross street B" required>
                    <div class="center">*Address </div>
                        <input class="form-control"
                            name="address" 
                            type="text" 
                            id="info_address" 
                            placeholder="Address"
                            required>
                </form>
                <button  class="btn btn-primary d-grid gap-2 col-6" form= "addparking" type="submit" >submit</button>
            </div>
            <div class="col-md">
                <h6 class="rounded text-bg-danger p-1 p-1">Click on Map and Marker</h6>
                <div class="rounded ratio ratio-16x9 border border-dark p-2" id="map">                        
                </div>
            </div>
        </div>
    </div>
</section>    

        <!-- <button form= "addparking" type="submit" >submit</button>   -->
        <!-- <div class="ratio ratio-16x9" id="map"></div> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?&key=AIzaSyDCLPu50m8qU4eQpqj7rm8U7i1gTa-s5TY"></script>
<script type="text/javascript">

 window.onload = function () {
    var mapOptions = {
        center: new google.maps.LatLng(37.77986, -122.42905),
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
 
    //Attach click event handler to the map.
    google.maps.event.addListener(map, 'click', function (e) {
 
        //Determine the location where the user has clicked.
        var location = e.latLng;
 
        //Create a marker and placed it on the map.
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

        let lat = marker.getPosition().lat()
        let lng = marker.getPosition().lng()
        let contentAddress = ""
        let street= ""

        $.ajax({
        method:'POST',
        url:`https://maps.googleapis.com/maps/api/geocode/json?latlng=${lat},${lng}&key=AIzaSyDCLPu50m8qU4eQpqj7rm8U7i1gTa-s5TY`,
        success:function(data){
          console.log(data)
          contentAddress = data.results[0].formatted_address
          street = data.results[0].address_components[1].long_name
          console.log(street)
       }
    }) 
        //Attach click event handler to the marker.
        google.maps.event.addListener(marker, "click", function (e) {
            var infoWindow = new google.maps.InfoWindow({
                content: contentAddress +//
                lat + " , "+ lng
            });

            infoWindow.open(map, marker);
            // it will populate the input values on the marker click (first click map to create marker then click marker)
            // this option is better because if another marker is clicked and click back it will repopulate with the marker clicked 
            // while other option it has to be clicked on the map and will not repopulate 
            document.getElementById('info_lat').value=lat;
            document.getElementById('info_lng').value=lng;
            document.getElementById('info_address').value=contentAddress;
            document.getElementById('info_street').value=street;


        });
        // it makes a difference: it will populate the input values with map click
        // document.getElementById('info_lat').value=lat; 
        // document.getElementById('info_lng').value=lng;
        // document.getElementById('info_address').value=contentAddress;
        // document.getElementById('info_street').value=street;
    });
};
</script>
{% endblock %}
