{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}

<!--does not seem to do anything?? --><script type="text/javascript" {{ url_for('static', filename='app.js')}}></script> 
</script>
<script type="text/javascript"> var allOfMarkers ='{{ allofmarkers|tojson|safe }}'   
</script>
<script  src="/static/all_parkings.js" > </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCLPu50m8qU4eQpqj7rm8U7i1gTa-s5TY&libraries=places&callback=initMap"></script><br>
<label for="addreview">Select Street to Add a Review</label>
<form id="addreview" method="POST" action="/add-review">
    <select name="parking_id" id="parking_id">
    {% for stname in all_parkings_stname %}
        <option name='{{stname.latitude}}' value='{{stname.parking_id}}'>{{ stname.address}}   {{stname.latitude}},{{stname.longtitude}}</option>
    {% endfor %}
          </select><br>
            <input type="text" name="rev" placeholder="Type in a review" required>
</form>
  <button form="addreview" type="submit" class="btn btn-outline-primary">review</button>

<body>
    <h1>Click on markers to see reviews</h3>
      <div id="map"></div>
</body>

{% endblock %}