<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <a class= "logout" href = '/logout'>Logout</a>
    <title>
      {% block title %}{% endblock %}
    </title>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class=flashes>
      {% for message in messages %}
      {{ message }}
      {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% block body %} {% endblock %}

  </body>

</html>
